Repository matofederorg/k8s-cluster-api-provider, pull requests merged in 2023-08, with the labels that each got.

#5 Zuul2
  .zuul.yaml
  Release-Notes-R5.md
  doc/configuration.md
  doc/usage/zuul-ci.md
  playbooks/check.yaml
  playbooks/cleanup.yaml
  playbooks/create.yaml
  playbooks/create_env_file.yaml
  playbooks/dependencies.yaml
  playbooks/fullclean.yaml
  playbooks/roles/ensure-dependencies/README.md
  playbooks/roles/ensure-dependencies/defaults/main.yaml
  playbooks/roles/ensure-dependencies/meta/main.yaml
  playbooks/roles/ensure-dependencies/tasks/main.yaml
  playbooks/templates/environment.tfvars.j2
  playbooks/test.yaml
  terraform/environments/environment-default.tfvars
  terraform/files/bin/create_cluster.sh
  terraform/files/template/clusterctl.yaml.tmpl
  terraform/mgmtcluster.tf
  terraform/variables.tf
Labels: successful-e2e-test, successful-e2e-quick-test

#11 Test zuul ci
  .zuul.yaml
  README.md
  playbooks/check.yaml
  playbooks/cleanup.yaml
  playbooks/create.yaml
  playbooks/create_env_file.yaml
  playbooks/dependencies.yaml
  playbooks/e2e.yaml
  playbooks/fullclean.yaml
  playbooks/roles/ensure-dependencies/README.md
  playbooks/roles/ensure-dependencies/defaults/main.yaml
  playbooks/roles/ensure-dependencies/meta/main.yaml
  playbooks/roles/ensure-dependencies/tasks/main.yaml
  playbooks/test.yaml
Labels: successful-e2e-quick-test

#13 Final test
  README.md
  playbooks/cleanup.yaml
Labels: cancelled-e2e-test, cancelled-e2e-quick-test
